/*fonts*/
@font-face {
  font-family: 'Graphik Bold';
  src: url("/fonts/Graphik-Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Light';
  src: url("/fonts/Graphik-Light.otf") format("opentype");
line-height: 20px;
font-style: normal;
color: rgb(0, 0, 0);
}

@font-face {
  font-family: 'Graphik Regular';
  src: url("/fonts/Graphik-Regular.otf") format("opentype");
font-size: 14px;
line-height: 20px;
font-style: normal;
color: rgb(0, 0, 0);
}


p, a, footer{
    font-family: 'Graphik Light';
}


a,
h1,
h2{
    color: #339933;
}


.caption-one{
    color: #fff;
    font-size: 58px;
}

h1,
h2,
h3,
h4,
h5,
.numbers{
    font-family: 'Graphik Bold';
}

.numbers{
    font-weight: 700px;
    color: #4e4a4a;
}

.what-we-do{
    font-family: 'Graphik Light';
}



.span10 .offset1{
	display: inline;
	width: 20px;
  height: 20px;
  margin: 0 5px;
}


i.fab {
  display: inline-block;
  border-radius: 65px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

nav a{
	color: #000;
	text-transform: capitalize;
}

.slider-next{
	height: 35px;
	width: 35px;
	background-color: #151515;
	/*opacity: 0.5px;*/
}

.slider-caption{
	top: 270px;
}

.about-sanergy {
    height: 102px;
    width: 90px;
}

.leadership, .entreprenuer{
	background-color: #f6f6f6;
}

#operators{
	background-color:#fff;
    border:2.5px solid #0099cc;    
    height:125px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:125px;
}

#fresh-life-toilets{
	background-color:#fff;
    border:2.5px solid #ffcc00;    
    height:140px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:140px;
}

#users{
	background-color:#fff;
    border:2.5px solid #ffcc33;    
    height:180px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:180px;
}

#waste{
	background-color:#fff;
    border:2.5px solid #339933;    
    height:200px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:200px;
}


.centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}

.sanergy-footer{
   padding-bottom: 3rem!important;
   background-color: #006699;
   color: #fff;
}

footer{
    display: block;
    border-top: 6px solid #339933;
}

.footer-text{
    font-family: 'Graphik Regular';
    font-size: 11px;
}

.subscribe-button{
    font-family: 'Graphik Bold';
    font-size: 110px;
}
.all-rights{
    font-family: 'Graphik Regular';
    font-size: 9px;
    margin-top:90px;
}

.footer-social ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-social{
    display: inline-block;
    text-decoration: none;
}

.social-media-icons ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-media-icons a { 
    display: inline-block;
    text-decoration: none;
    padding: 3px;
}

.leaders-names{
    font-size: 1.0rem;
}

.co-founder{
    font-size: 0.9rem;
}
