.span10 .offset1{
	display: inline;
	width: 20px;
  height: 20px;
  margin: 0 5px;
}


i.fab {
  display: inline-block;
  border-radius: 65px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

nav a{
	color: #000;
	text-transform: capitalize;
}

.slider-next{
	height: 35px;
	width: 35px;
	background-color: #151515;
	/*opacity: 0.5px;*/
}

.slider-caption{
	top: 270px;
}

.about-sanergy {
    height: 102px;
    width: 90px;
}